language: python
python:
- '2.6'
- '2.7'
- '3.3'
- '3.4'
- '3.5'
- '3.6'
- 3.7-dev
- pypy2-5.8.0

matrix:
  fast_finish: true
  allow_failures:
  - python: 3.7-dev
install:
  - pip install tox
script:
  - tox -e cleanup,py,docs
  # flake8 doesn't support Python 2.6
  - if [[ $TRAVIS_PYTHON_VERSION != 2.6 ]]; then tox -e style; fi
