version: 1.0.{build}

environment:
  matrix:
  - TOXENV: py27
    PYTHON: "C:\\Python27-x64"
  - TOXENV: py35
    PYTHON: "C:\\Python35-x64"
  - TOXENV: py36
    PYTHON: "C:\\Python36-x64"
  - TOXENV: py37
    PYTHON: "C:\\Python37-x64"
  - TOXENV: docs
  - TOXENV: style

install:
- cmd: python -m pip install -U pip setuptools tox virtualenv wheel

build_script:
- cmd: python setup.py bdist_wheel
- cmd: python -m pip install --only-binary --no-index --ignore-installed --find-links=dist/ vulture

test_script:
- cmd: vulture vulture/ tests/
- cmd: python -m vulture vulture/ tests/
- cmd: tox

matrix:
  fast_finish: true
