[tool.ruff]
exclude = [
  ".eggs",
  ".git",
  "_build",
  "build",
  "dist",
  "htmlcov",
  "vulture.egg-info",
  ".cache",
  ".coverage",
  ".pytest_cache",
  ".tox",
  ".venv",
  ".vscode",
]

# Same as Black.
line-length = 79
indent-width = 4

target-version = "py38"

[tool.ruff.lint]
# ruff enables Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
select = [
  "F", # pyflakes
  "E4", "E7", "E9", # pycodestyle
  "B", # flake8-bugbear
  "C4", # comprehensions
  "UP", # pyupgrade
]
ignore = [
  "C408", # unnecessary dict call
]

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.lint.per-file-ignores]
"vulture/whitelists/*.py" = ["B018"]

[tool.ruff.format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

# Enable auto-formatting of code examples in docstrings. Markdown,
# reStructuredText code/literal blocks and doctests are all supported.
#
# This is currently disabled by default, but it is planned for this
# to be opt-out in the future.
docstring-code-format = false

# Set the line length limit used when formatting code snippets in
# docstrings.
#
# This only has an effect when the `docstring-code-format` setting is
# enabled.
docstring-code-line-length = "dynamic"
